<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>RailsTestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='h-100'>
    <%= link_to '< Back', :back || root_path, class: 'position-absolute', style: 'top: 20px; left: 20px;' %>
    <div class='container h-100'>
      <%= yield %>
    </div>
  </body>
</html>
